body{
    margin: 0;
}
h1{background-color: lightblue;
    margin: 0;
    padding: 30px;
    border: 2px solid black;
    width: 200px;}
p{
    background-color: lightgreen;
    margin: 0;
    padding: 10px;
    width: 200px;
    height: 200px;
    margin-top: 30px;
    border: 50px solid black;
    border-radius: 50%;
    line-height: 100%;

}
