*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.nav{
    display: flex;
    gap: 20px;
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}
.item{
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
}