:root {
  --color-primario: #162f66;
  --color-secundario: #263846;
  --color-fondo: #F8FAFC;
  --fuente-principal: "Glass Antiqua", cursive;
  --color-logo: #2eb4cb;
  --color-span: #eb2525;
  --color-adicional: rgb(198, 135, 135)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--color-fondo);
    font-family: var(--fuente-principal);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-primario);
}
.logo_letter{
    color: var(--color-logo);
    font-size: 2.4rem;     
}
.nav{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.items{
    transition: 300ms;
}
.items :hover{
    color: var(--color-span);
}
a{
    color: #fff;
    text-decoration: none;
}

main{
    margin: 0 3rem;
}
section{
    margin: 0 3rem;
    padding: 2rem;
    width: 100%;
    display: block;
}
footer{
    background-color: var(--color-primario);
    color: #fff;
    text-align: center;
    padding: 2rem;
    margin-top: auto;
}
